.App {
  text-align: center;
  background-color: rgb(182, 234, 248);  /* 調整內圍的背景顏色 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: blueviolet;  /* 調整外圍的背景顏色 */
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(122, 112, 255);
}

.App-link {
  color: #61dafb;
}

.button-large {
  padding: 20px 30px;  /* 增加內邊距來擴大按鈕 */
  font-size: 25px;     /* 設定較大的字體大小 */
  background-color: #ff312a; /* 設定按鈕背景顏色 */
  color: rgb(0, 0, 0);        /* 設定文字顏色 */
  border: none;        /* 去除邊框 */
  border-radius: 20px;  /* 圓角邊框 */
  cursor: pointer;     /* 滑鼠懸停時顯示指針 */
  transition: background-color 0.3s; /* 背景顏色變化過渡效果 */
}

.button-large:hover {
  background-color: #45a049; /* 滑鼠懸停時改變背景顏色 */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}